.Modal{
    // height:90vh;
    // overflow-y: auto;
    // .ReleaseDateContainer{
    //     font-size:1rem;
    //     text-align: center;
    // }
    .NetflixLinkContainer{
        height:4rem;
        padding:0;
        align-items: center;
        transition:background-color .3s ease;
        cursor: pointer;
        &>.NetflixLink{
            width: 100%;
            text-decoration: none;
            color:white;
            display: block;
            text-align: center;
            transition:color .4s ease-out;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        &:hover{
            background-color: green !important;
            
        }
    }
}